<link rel="stylesheet" href="~/css/premium.css" />

<div class="premium-topBlock">
    <header>
        <div class="hVLaBo">
            <h1 class="gAkvPT">Манга, которую ты хочешь прочитать, доступна только премум аккаунтам!</h1>
            <h2 class="gAkvPT">Купи премиум аккаунт и получи доступ к эксклюзивам</h2>
            <h3 class="hDZYjg">Всего за 1 000 000 рублей</h3>
            <div class="iwisNA">
                <a class="hDkiPl" asp-controller="Profile" asp-action="PaymentInfo">
                    <div class="clbxiv">
                        Купить!
                    </div>
                </a>
            </div>
        </div>
    </header>
</div>
